.navbar {
    display: flex;
    align-items: center;
    margin: auto;
    height: 5vw;
}

.name {
  color: white;
  float: left;
  padding: 1%;
}
.links {
  float: right;
  margin-left: auto;
  padding-right: 2vw;
}