.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .navbar h1 {
    color: #D8DEE9;
  }
  .navbar a {
    color: #D8DEE9;
    background-color: #4C566A;
    border-radius: 12px;
    height: 20%;
    width: 20%;
  }
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    background-color: #4C237E;
    border-radius: 12px;
    border: 10%;
    height: 40%;
    width: 40%;
  }